﻿@page
@using Comet.Web.Services
@using Newtonsoft.Json
@inject LanguageService Language
@model Comet.Web.Areas.Panel.Pages.Administration.Articles.IndexModel
@{
    ViewData["Title"] = Language.GetString("ArticleManagementTitle");
}

<a class="btn btn-sm btn-primary" asp-area="Panel" asp-page="/Administration/Articles/Article" asp-route-ArticleId="0">@Language.GetString("NewArticle")</a>
<div class="row">
    @foreach (var catType in Model.ArticleCategoriesTypes)
    {
        <h2>@Language.GetString(catType.Name)</h2>
        @foreach (var cat in catType.Categories)
        {
            <h3>@Language.GetString(cat.Name)</h3>
            <div class="table-responsive">
                <table id="tblArticleCategoryType@(catType.Id)_@cat.Id" class="table table-stripped table-bordered">
                    <thead>
                    <tr>
                        <td>#</td>
                        <td>Titulo</td>
                        <td>Editor</td>
                        <td>Idiomas</td>
                        <td>Data Publicação</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        }
    }
</div>

@section Scripts
{
    <script>
        const CategoryTypes = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.ArticleCategoriesTypes))');
        const ipp = 25;
        const SortUrl = '@Url.Action("ChangeArticleOrder", "Articles", new {version = "1"})';

        function onSortUp(el) {
            event.preventDefault();

            const row = $(el).parent().parent();
            const table = $(row).parent().parent();
            const rowIndex = $(table).find('tr').index(row);
            const id = $(el).parent().parent().find('td')[0].innerText;

            if (rowIndex <= 1) {
                return;
            }

            $.ajax({
                url: SortUrl,
                type: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify({
                    PostId: id,
                    Order: 0
                }),
                success: function(result) {
                    $(row).prev().before(row);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }

        function onSortDown(el) {
            event.preventDefault();

            const row = $(el).parent().parent();
            const table = $(row).parent().parent();
            const rowIndex = $(table).find('tr').index(row);
            const rowCount = $(table).find('tr').length - 1;
            const id = $(el).parent().parent().find('td')[0].innerText;

            if (rowIndex >= rowCount) {
                return;
            }

            $.ajax({
                url: SortUrl,
                type: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify({
                    PostId: id,
                    Order: 1
                }),
                success: function(result) {
                    $(row).next().after(row);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }

        function loadCategoryData(category, type, page) {
            $.ajax({
                url: `@Url.Action("GetArticleByCategory", "Articles", new {version = "1"})?category=${type}&page=${page}&ipp=${ipp}`,
                type: 'GET',
                success: function(result) {
                    let table = document.getElementById(`tblArticleCategoryType${category}_${type}`);
                    let body = table.tBodies[0];

                    $(body).empty();

                    if (result.length) {
                        for (let idx = 0; idx < result.length; idx++) {
                            let row = body.insertRow();

                            $(row.insertCell()).html(`${result[idx].id}`);
                            $(row.insertCell()).html(`${result[idx].title}`);
                            $(row.insertCell()).html(`${result[idx].writer}`);

                            let localeCell = $(row.insertCell());
                            for (let idxLocale = 0; idxLocale < result[idx].locales.length; idxLocale++) {
                                if (idxLocale > 0)
                                    $(localeCell).append('<br />');
                                $(localeCell).append(`<a href="@Url.Page("Article")/${result[idx].id}/${result[idx].locales[idxLocale]}">${result[idx].locales[idxLocale]}</a>`);
                            }

                            let date = new Date(result[idx].publishDate);
                            $(row.insertCell()).html(date.toLocaleDateString('pt-BR') + ' ' + date.toLocaleTimeString('pt-BR'));
                            if (result[idx].sortable) {
                                $(row.insertCell()).html(`<a href="#" onclick="onSortUp(this);"><i class="fa fa-sort-up"></i></a>&nbsp;<a href="#" onclick="onSortDown(this);"><i class="fa fa-sort-down"></i></a>`);
                            } else {
                                $(row.insertCell()).html('');
                            }
                        }
                    } else {
                        let cell = body.insertRow().insertCell();
                        cell.colSpan = 6;
                        cell.innerHTML = '@Language.GetString("NoData")';
                    }
                },
                error: function(result) {
                    console.log(result);
                }
            });
        }

        $(document).ready(function() {
            //console.log(CategoryTypes);
            for (let i = 0; i < CategoryTypes.length; i++) {
                for (let j = 0; j < CategoryTypes[i].Categories.length; j++) {
                    loadCategoryData(CategoryTypes[i].Id, CategoryTypes[i].Categories[j].Id, 0, ipp);
                }

            }
        });

    </script>
}