﻿@page "{CategoryName=Any}"
@using Comet.Web.Services
@using Comet.Web.Model.Helpers
@inject LanguageService mLanguage
@model Comet.Web.Areas.News.Pages.IndexModel
@{
    ViewData["Title"] = mLanguage.GetString("News");
}

@await Html.PartialAsync("../../../Pages/Shared/_ViewTitleContainer")

<div class="container youplay-news">
    
    <!-- Right Side -->
    <div class="col-md-3">
        <!-- Side Categories -->
        @await Html.PartialAsync("_Categories")
        <!-- /Side Categories -->
        
        @await Html.PartialAsync("_PopularNews")
    </div>
    <!-- /Right Side -->

    <!-- News List -->
    <div class="col-md-9">
        @if (Model.Articles.Count > 0)
        {
            @foreach (var article in Model.Articles)
            {
                var content = article.Content.FirstOrDefault(x => x.Locale.Equals(mLanguage.CurrentLocale, StringComparison.InvariantCultureIgnoreCase))
                              ?? article.Content.FirstOrDefault();
                if (content == null)
                {
                    continue;
                }
                <!-- Single News Block -->
                <div class="news-one">
                    <div class="row vertical-gutter">
                        <div class="col-md-4">
                            <a asp-area="Read" asp-page="Index" asp-route-ArticleId="@article.Id" class="angled-img">
                                <div class="img">
                                    <img src="@Url.Content(article.Thumb?.StorageUrl ?? "~/assets/images/no-img.jpg")" alt="@(article.Thumb?.FileName)" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="clearfix">
                                <h3 class="h3 pull-left m-0">
                                    <a asp-area="Read" asp-page="Index" asp-route-ArticleId="@article.Id">@content.Title</a>
                                </h3>
                                <span class="date pull-right">
                                    <i class="fa fa-calendar"></i> @article.PublishDate.ToDateString(mLanguage)
                                </span>
                            </div>
                            <div class="tags">
                                <i class="fa fa-tags"></i> <a href="#">@mLanguage.GetString(article.Category.Name)</a>
                            </div>
                            <div class="description">
                                @Html.Raw(string.Concat(content.Content.GetParagraphs().Take(2)))
                            </div>
                            <a asp-area="Read" asp-page="Index" asp-route-ArticleId="@article.Id" class="btn read-more pull-left">@mLanguage.GetString("ReadMore")</a>
                        </div>
                    </div>
                </div>
                <!-- /Single News Block -->
            }

            <!-- Pagination -->
            <nav>
                <ul class="pager">
                    @if (Model.CurrentPage > 0)
                    {
                        <li class="previous">
                            <a asp-page="Index" asp-route-CurrentPage="@(Model.CurrentPage - 1)">
                                <span aria-hidden="true">&larr;</span> @mLanguage.GetString("Newer")
                            </a>
                        </li>
                    }
                    @if (Model.PageCount > 1 && Model.PageCount > Model.CurrentPage + 1)
                    {
                        <li class="next">
                            <a asp-page="Index" asp-route-CurrentPage="@(Model.CurrentPage + 1)">
                                @mLanguage.GetString("Older") <span aria-hidden="true">&rarr;</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        }
        else
        {
            <p>@mLanguage.GetString("NoNews")</p>
        }
    </div>
    <!-- /News List -->
</div>