﻿@using Comet.Web.Model.Articles
@inject ArticleService mService;
@inject LanguageService mLanguage;

@{
    List<ArticleCategoryModel> categories = await mService.QueryActiveArticleCategoriesByTypeAsync(1);
}

<div class="side-block">
    <h4 class="block-title">@mLanguage.GetString("ArticleCategory")</h4>
    <ul class="block-content">
        <li><a asp-area="News" asp-page="Index">@mLanguage.GetString("All")</a></li>
        @foreach (ArticleCategoryModel category in categories)
        {
            <li><a href="@Url.Page("Index", new { Area = "News", CategoryName = category.RealName })">@category.Name</a></li>
        }
    </ul>
</div>