﻿@inject LanguageService Language
@model string

@if (!string.IsNullOrEmpty(Model))
{
    string statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @Html.Raw(Language.GetString(Model))
    </div>
}