﻿@using Comet.Web.Services
@inject LanguageService Language
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("../../Pages/Shared/_ViewTitleContainer")

<div class="container youplay-content">
    <div class="row">
        <div class="col-md-3">
            <div class="side-block">
                <h4 class="block-title">
                    @Language.GetString("User")
                </h4>
                <ul class="block-content">
                    <li>
                        <a asp-area="Panel" asp-page="/Administration/Users">@Language.GetString("Users")</a>
                    </li>
                    <li>
                        <a asp-area="Panel" asp-page="/Administration/Roles">@Language.GetString("UsersGroups")</a>
                    </li>
                    <li>
                        <a asp-area="Panel" asp-page="/Administration/Bans">@Language.GetString("Bans")</a>
                    </li>
                </ul>

                <h4 class="block-title">
                    @Language.GetString("Forums")
                </h4>
                <ul class="block-content">
                    <li>
                        <a href="#">@Language.GetString("Forums")</a>
                    </li>
                    <li>
                        <a href="#">@Language.GetString("Publications")</a>
                    </li>
                </ul>

                <h4 class="block-title">
                    @Language.GetString("Articles")
                </h4>
                <ul class="block-content">
                    <li>
                        <a asp-area="Panel" asp-page="/Administration/Articles/Index">@Language.GetString("Articles")</a>
                    </li>
                </ul>

                <h4 class="block-title">
                    @Language.GetString("Shop")
                </h4>
                <ul class="block-content">
                    <li>
                        <a href="#">@Language.GetString("Products")</a>
                    </li>
                </ul>

                @if (User.IsInRole(Security.SuperAdministrator))
                {
                    <h4 class="block-title">
                        @Language.GetString("Administrative")
                    </h4>
                    <ul class="block-content">
                        <li>
                            <a asp-area="Panel" asp-page="/Administration/Maintenance">@Language.GetString("Maintenance")</a>
                        </li>
                        <li>
                            <a asp-area="Panel" asp-page="/Administration/Realms">@Language.GetString("Realms")</a>
                        </li>
                    </ul>
                }
            </div>
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Styles {
    @await RenderSectionAsync("Styles", false)
}

@section Scripts {
    @await RenderSectionAsync("Scripts", false)
}