﻿@using Comet.Web.Services
@inject LanguageService Language
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("../../Pages/Shared/_ViewTitleContainer")

<div class="container youplay-content">
    <div class="row">
        <div class="col-md-3">
            <div class="side-block">
                <h4 class="block-title">
                    @Language.GetString("UserPanel")
                </h4>
                <ul class="block-content">
                    <li>
                        <a asp-area="Panel" asp-page="/User/Index">@Language.GetString("UserPanelDashboard")</a>
                    </li>
                    <li>
                        <a asp-area="Panel" asp-page="/User/Accounts">@Language.GetString("UserPanelGameAccounts")</a>
                    </li>
                    <li>
                        <a asp-area="Panel" asp-page="/User/VIP">@Language.GetString("UserPanelBindVip")</a>
                    </li>
                    <li>
                        <a asp-area="Panel" asp-page="/User/RestoreDeletedCharacter">@Language.GetString("UserPanelRestoreDeletedCharacters")</a>
                    </li>
                    <li>
                        <a asp-area="Panel" asp-page="/User/Purchases">@Language.GetString("UserPanelPurchases")</a>
                    </li>
                    <li>
                        <a asp-area="Panel" asp-page="/User/BillingInformation">@Language.GetString("UserPanelBillingInformation")</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Styles {
    @await RenderSectionAsync("Styles", false)
}

@section Scripts {
    @await RenderSectionAsync("Scripts", false)
}