﻿@page
@inject LanguageService Language
@using Comet.Web.Services
@model Comet.Web.Areas.Panel.Pages.Administration.BansModel
@{
    ViewData["Title"] = Language.GetString("BansManagement");
}

<div class="table-responsive">
    <table id="tblBansManagement" class="table table-striped" aria-describedby="@Language.GetString("BansManagement")">
        <thead>
        <tr>
            <th>@Language.GetString("BanType")</th>
            <th>@Language.GetString("TargetUserName")</th>
            <th>@Language.GetString("Reason")</th>
            <th>@Language.GetString("Banned")</th>
            <th>@Language.GetString("From")</th>
            <th>@Language.GetString("To")</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section Scripts
{
    <script>
        const ipp = 25;

        function load(page) {
            $.ajax({
                url: `@Url.Action("", "Bans", new {version = "1"})?page=1&ipp=${ipp}`,
                method: 'GET',
                success: function(result) {

                    const table = document.getElementById('tblBansManagement');
                    const body = table.tBodies[0];

                    $(body).empty();

                    if (result.length) {

                        for (let idx = 0; idx < result.length; idx++) {

                            console.log(JSON.stringify(result[idx]));

                            const row = body.insertRow();

                            $(row.insertCell()).html(`${result[idx].banType}`);
                            $(row.insertCell()).html(`${result[idx].userName}`);
                            $(row.insertCell()).html(`${result[idx].reason}`);
                            $(row.insertCell()).html(`${(result[idx].flags === 0 ? '@Language.GetString("Banned")' : '@Language.GetString("Unbanned")')}`);
                            let date = new Date(result[idx].from);
                            $(row.insertCell()).html(date.toLocaleDateString('pt-BR') + ' ' + date.toLocaleTimeString('pt-BR'));
                            date = new Date(result[idx].to);
                            $(row.insertCell()).html(date.toLocaleDateString('pt-BR') + ' ' + date.toLocaleTimeString('pt-BR'));
                            $(row.insertCell()).html(`<a href="/Panel/Administration/BanDetails/${result[idx].id}"><i class="fa fa-edit"></i></a>`);
                        }

                    }
                }
            });
        }

        $(document).ready(function() {

            load(1);

        });

    </script>
}