﻿@page
@inject LanguageService mLanguage;
@using Comet.Web.Services
@model Comet.Web.Areas.Panel.Pages.Administration.MaintenanceModel
@{
    ViewData["Title"] = mLanguage.GetString("MaintenancePage");
}

<form method="post">
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-sm btn-primary" asp-area="Panel" asp-page="/Administration/Roles">@mLanguage.GetString("GoBack")</a>
            <div class="form-horizontal mt-30 mb-40">
                <div class="form-group">
                    <div class="col-md-offset-2 col-sm-9">
                        <div class="youplay-checkbox">
                            <input type="checkbox" asp-for="Input.MaintenanceActive">
                            <label asp-for="Input.MaintenanceActive">@mLanguage.GetString("MaintenanceEnable")</label>
                        </div>
                        <small id="passwordHelp" class="form-text text-muted">@mLanguage.GetString("MaintenanceEnableWarning")</small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="">@mLanguage.GetString("StartDate")</label>
                    <div class="col-sm-4">
                        <div class="youplay-input">
                            <input asp-for="Input.StartDate">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="">@mLanguage.GetString("EndDate")</label>
                    <div class="col-sm-4">
                        <div class="youplay-input">
                            <input asp-for="Input.EndDate">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">@mLanguage.GetString("Warning")</label>
                    <div class="col-sm-10">
                        <textarea asp-for="Input.Message"></textarea>
                    </div>
                </div>

                <button class="btn btn-success" type="submit">@mLanguage.GetString("Save")</button>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <script src="https://cdn.tiny.cloud/1/naro9bdzzj0939szj7c1mb3umgkd7r570mo692wc832gzal3/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        $(document).ready(function() {

            tinymce.init({
                selector: '#Input_Message',
                plugins: 'print preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons',
                imagetools_cors_hosts: ['picsum.photos'],
                menubar: 'file edit view insert format tools table help',
                toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',
                autosave_ask_before_unload: true,
                autosave_interval: '30s',
                autosave_prefix: '{path}{query}-{id}-',
                autosave_restore_when_empty: false,
                autosave_retention: '5m',
                image_caption: true,
                quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
                height: 400,
                tinycomments_mode: 'embedded'
                //tinycomments_author: ''
            });

        });
    </script>
}