﻿@page
@inject LanguageService Language;
@using Comet.Web.Services
@model Comet.Web.Areas.Panel.Pages.Administration.RolesModel
@{
    ViewData["title"] = Language.GetString("RoleManagement");
}

<div class="table-responsive">
    <table id="tblRoleManagement" class="table table-striped">
        <thead>
        <tr>
            <td>#</td>
            <td>@Language.GetString("RoleName")</td>
            <td>@Language.GetString("RoleNormalizedName")</td>
            <td>@Language.GetString("MemberAmount")</td>
            <td>@Language.GetString("CreationDate")</td>
            <td>@Language.GetString("ModifiedDate")</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section Scripts
{
    <script>

        $(document).ready(function() {

            $.ajax({
                url: '@Url.Action("", "Roles", new {version = "1"})',
                method: 'GET',
                success: function(result) {

                    const table = document.getElementById('tblRoleManagement');
                    const body = table.tBodies[0];

                    $(body).empty();

                    if (result.length) {
                        for (let idx = 0; idx < result.length; idx++) {
                            const row = body.insertRow();
                            row.insertCell().innerHTML = result[idx].id;
                            row.insertCell().innerHTML = result[idx].name;
                            row.insertCell().innerHTML = result[idx].normalizedName;
                            row.insertCell().innerHTML = result[idx].count;
                            let date = new Date(result[idx].creationDate);
                            row.insertCell().innerHTML = date.toLocaleDateString('pt-BR') + ' ' + date.toLocaleTimeString('pt-BR');
                            if (result[idx].modifiedDate) {
                                date = new Date(result[idx].modifiedDate);
                                row.insertCell().innerHTML = date.toLocaleDateString('pt-BR') + ' ' + date.toLocaleTimeString('pt-BR');
                            } else {
                                row.insertCell().innerHTML = '@Language.GetString("Never")';
                            }
                            row.insertCell().innerHTML = `<a href="/Panel/Administration/Role/${result[idx].id}"><i class="fa fa-edit" title="Editar"></i></a>`;
                        }
                    } else {
                        const cell = body.insertRow().insertCell();
                        cell.colSpan = 6;
                        cell.innerHTML = '@Language.GetString("NoData")';
                    }

                },
                error: function(result) {

                }
            });

        });

    </script>
}