﻿@page
@inject LanguageService Language;
@using Comet.Web.Services
@model Comet.Web.Areas.Panel.Pages.Administration.UsersModel
@{
    ViewData["title"] = Language.GetString("RoleManagement");
}

<div class="table-responsive">
    <table id="tblUserManagement" class="table table-striped">
        <thead>
        <tr>
            <td>#</td>
            <td>@Language.GetString("UserName")</td>
            <td>@Language.GetString("Email")</td>
            <td>@Language.GetString("Role")</td>
            <td>@Language.GetString("CreationDate")</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section Scripts
{
    <script>
        const ipp = 25;

        function refresh(page) {
            $.ajax({
                url: `@Url.Action("", "Accounts", new {version = "1"})?page=${page}&ipp=${ipp}`,
                method: 'GET',
                success: function(result) {

                    const table = document.getElementById('tblUserManagement');
                    const body = table.tBodies[0];

                    $(body).empty();

                    if (result.length) {
                        for (let idx = 0; idx < result.length; idx++) {
                            const row = body.insertRow();
                            row.insertCell().innerHTML = result[idx].id;
                            row.insertCell().innerHTML = result[idx].userName;
                            row.insertCell().innerHTML = result[idx].email;
                            row.insertCell().innerHTML = result[idx].role;
                            const date = new Date(result[idx].creationDate);
                            row.insertCell().innerHTML = date.toLocaleDateString('pt-BR') + ' ' + date.toLocaleTimeString('pt-BR');
                            row.insertCell().innerHTML = `<a href="/Panel/Administration/User/${result[idx].id}"><i class="fa fa-edit" title="Editar"></i></a>`;
                        }
                    } else {
                        const cell = body.insertRow().insertCell();
                        cell.colSpan = 7;
                        cell.innerHTML = '@Language.GetString("NoData")';
                    }

                },
                error: function(result) {

                }
            });
        }

        $(document).ready(function() {
            refresh(1);
        });

    </script>
}