﻿@page
@inject LanguageService mLanguage
@model Comet.Web.Areas.Panel.Pages.User.ChangePasswordModel
@{
    ViewData["Title"] = mLanguage.GetString("ChangePasswordPageTitle", Model.Username);
}

<form method="post">
    <div asp-validation-summary="All"></div>
    <div class="youplay-input">
        <input asp-for="Input.Password" placeholder="@mLanguage.GetString("NewPassword")">
    </div>
    <div class="youplay-input">
        <input asp-for="Input.ConfirmPassword" placeholder="@mLanguage.GetString("ConfirmPassword")">
    </div>
    <button type="submit" class="btn btn-primary">@mLanguage.GetString("Submit")</button>
    <a asp-area="Panel" asp-page="/User/Accounts" class="btn btn-danger">@mLanguage.GetString("GoBack")</a>
</form>