﻿@page
@inject LanguageService mLanguage
@model ConfirmEmailModel
@{
    ViewData["Title"] = mLanguage.GetString("ConfirmEmail");
}

@await Html.PartialAsync("../../Pages/Shared/_ViewTitleContainer")

<div class="container youplay-news">
    <partial name="_StatusMessage" model="Model.StatusMessage"/>
</div>