﻿@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<section class="youplay-banner banner-top youplay-banner-parallax full">
    <div class="image" data-speed="0.4">
        <img src="/assets/images/parallax/shaolin_1920x1200.jpg" alt="" class="jarallax-img">
    </div>
    <div class="info">
        <div>
            <div class="container">
                <div class="text-center">
                    <img src="~/assets/images/localhostworks.png" height="200" />

                    <h3 class="text-danger">Whoops! Um erro ocorreu ao processar a sua requisição!</h3>

                    @if (Model.ShowRequestId)
                    {
                        <p>
                            <strong>Request ID:</strong> <code>@Model.RequestId</code>
                        </p>
                    }

                    @*<h3>Development Mode</h3>
                    <p>
                        Swapping to the <strong>Development</strong> environment displays detailed information about the error that occurred.
                    </p>
                    <p>
                        <strong>The Development environment shouldn't be enabled for deployed applications.</strong>
                        It can result in displaying sensitive information from exceptions to end users.
                        For local debugging, enable the <strong>Development</strong> environment by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
                        and restarting the app.
                    </p>*@
                </div>
            </div>
        </div>
    </div>
</section>
