﻿@page
@using Comet.Web.Services
@inject LanguageService LanguageManager
@model ExternalLoginModel
@{
    ViewData["Title"] = $"Associe sua conta do {Model.ProviderDisplayName}";
}

<section class="youplay-banner banner-top youplay-banner-parallax full">
    <div class="image" data-speed="0.4">
        <img src="/assets/images/parallax/shaolin2_1920x1200.jpg" alt="" class="jarallax-img">
    </div>
    <div class="info">
        <div>
            <div class="container">
                <div class="youplay-login">
                    <div class="youplay-form text-center">
                        <h3>@ViewData["Title"]</h3>
                        <hr/>
                        <p id="external-login-description" class="text-info">
                            Você se conectou com sucesso usando o <strong>@Model.ProviderDisplayName</strong>.
                            Por favor, insira um nome de usuário para usar em nossos domínios e clique no botão Registrar abaixo para concluir.
                        </p>
                        <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                            <ul>
                                <li style="display: none"></li>
                            </ul>
                        </div>
                        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="youplay-input">
                                <input asp-for="Input.Email" autocomplete="off" readonly>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <div class="youplay-input">
                                <input asp-for="Input.UserName" autocomplete="off">
                                <span asp-validation-for="Input.UserName" class="text-danger"></span>
                            </div>

                            <div class="youplay-input">
                                <input asp-for="Input.Password" placeholder="@LanguageManager.GetString("Password")" autocomplete="new-password">
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            <div class="youplay-input">
                                <input asp-for="Input.ConfirmPassword" placeholder="@LanguageManager.GetString("ConfirmPassword")" autocomplete="new-password">
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>

                            <h5>@LanguageManager.GetString("SecurityRecoveryAccount")</h5>
                            <div class="youplay-input">
                                <input asp-for="Input.SecurityCode" placeholder="@LanguageManager.GetString("SecurityCode")" autocomplete="off">
                            </div>
                            <h5>@LanguageManager.GetString("PersonalInformation")</h5>
                            <div class="youplay-input">
                                <input asp-for="Input.RealName" placeholder="@LanguageManager.GetString("RealName")" autocomplete="off">
                            </div>
                            <div class="youplay-input">
                                <input asp-for="Input.Birthday" placeholder="@LanguageManager.GetString("Birthday")" autocomplete="off">
                            </div>
                            <div class="youplay-input">
                                <input asp-for="Input.Phone" placeholder="@LanguageManager.GetString("Phone")" autocomplete="off">
                            </div>
                            <div class="youplay-input youplay-select">
                                <select asp-for="Input.Language">
                                    @foreach (KeyValuePair<string, string> question in Model.AvailableLanguages)
                                    {
                                        <option value="@question.Key">@question.Value</option>
                                    }
                                </select>
                            </div>

                            <button class="btn btn-default db">Registrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}