﻿@page
@inject LanguageService Language
@using Comet.Web.Model.Helpers
@using Comet.Web.Data.Entities
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--
Banner

Additional classes:
.small
.xsmall
.big
.full
-->
<section class="youplay-banner banner-top youplay-banner-parallax">
    <div class="image" data-speed="0.4">
        <img src="~/assets/images/parallax/shaolin_1920x1200.jpg" alt="" class="jarallax-img">
    </div>
    <div class="info">
        <div>
            <div class="container">
                <div class="text-center">
                    <h1 class="fs-60">@Language.GetString("GameName")</h1>
                    <a class="btn btn-md video-popup" href="https://www.youtube.com/watch?v=5CGCVdypB3c">
                        <i class="fa fa-play-circle"></i>&nbsp;@Html.Raw(Language.GetString("WatchTrailer"))
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Preorder -->
<section class="youplay-banner youplay-banner-parallax mt-60" id="exclusive">
    <div class="image" data-speed="-0.2">
        <img class="jarallax-img" src="~/assets/images/parallax/shaolin2_1920x1200.jpg" alt="">
    </div>
    <div class="info container align-center">
        <div>
            <h2>@Language.GetString("GameNameVersion")</h2>
            <h3>@Language.GetString("ExclusiveWindowsRelease")</h3>
            @if (DateTime.Now < new DateTime(2022, 01, 01, 01, 00, 00))
            {
                <!-- See countdown init in bottom of the page -->
                <div class="countdown style-1 h2" data-end="2022-01-01 00:00" data-timezone="America/Sao_Paulo"></div>
                <br>
                <br>
            }

            <a class="btn btn-md" asp-area="" asp-page="/Downloads">@Language.GetString("Download")</a>
            @if (!User.Identity.IsAuthenticated)
            {
                <a class="btn btn-md" asp-page="Register">@Language.GetString("Register")</a>
            }
            else
            {
                <a class="btn btn-md" asp-area="Panel" asp-page="/User/Accounts">@Language.GetString("Register")</a>
            }
        </div>
    </div>
</section>
<!-- /Preorder -->
<!-- Latest News -->
<h2 class="container h1">@Language.GetString("LatestNews")</h2>
<section class="youplay-news container">
    @foreach (Article article in Model.Articles)
    {
        ArticleContent content = article.Content.FirstOrDefault(x => x.Locale.Equals(Language.CurrentLocale, StringComparison.InvariantCultureIgnoreCase)) ?? article.Content.FirstOrDefault();
        if (content == null)
        {
            continue;
        }
        <div class="news-one">
            <div class="row vertical-gutter">
                <div class="col-md-4">
                    <a asp-area="Read" asp-page="Index" asp-route-ArticleId="@article.Id" class="angled-img">
                        <div class="img">
                            <img src="@Href("~/assets/images/no-img.jpg")" alt="">
                        </div>
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="clearfix">
                        <h3 class="h3 pull-left m-0">
                            <a asp-area="Read" asp-page="Index" asp-route-ArticleId="@article.Id">@content.Title</a>
                        </h3>
                        <span class="date pull-right">
                            <i class="fa fa-calendar"></i> @article.PublishDate.ToDateString(Language)
                        </span>
                    </div>
                    <div class="tags">
                        <i class="fa fa-tags"></i> <a href="#">@Language.GetString(article.Category.Name)</a>
                    </div>
                    <div class="description">
                        @Html.Raw(string.Concat(content.Content.GetParagraphs().Take(2)))
                    </div>
                    <a asp-area="Read" asp-page="Index" asp-route-ArticleId="@article.Id" class="btn read-more pull-left">@Language.GetString("ReadMore")</a>
                </div>
            </div>
        </div>
    }
</section>
<!-- /Latest News -->

@section Scripts
{
    <script>
        $(".countdown").each(function() {
            const tz = $(this).attr('data-timezone');
            var end = $(this).attr('data-end');
            end = moment.tz(end, tz).toDate();
            $(this).countdown(end,
                function(event) {
                    $(this).html(event.strftime(['<div class="countdown-item">', '<span>@Language.GetString("Days")</span>', '<span><span>%D</span></span>', '</div>', '<div class="countdown-item">', '<span>@Language.GetString("Hours")</span>', '<span><span>%H</span></span>', '</div>', '<div class="countdown-item">', '<span>@Language.GetString("Minutes")</span>', '<span><span>%M</span></span>', '</div>', '<div class="countdown-item">', '<span>@Language.GetString("Seconds")</span>', '<span><span>%S</span></span>', '</div>'].join('')));
                });
        });
    </script>
}