﻿@page
@inject LanguageService Language
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = Language.GetString("RecoveryCodeVerification");
}

<section class="youplay-banner banner-top youplay-banner-parallax full">
    <div class="image" data-speed="0.4">
        <img src="~/assets/images/parallax/shaolin2_1920x1200.jpg" alt="" class="jarallax-img">
    </div>
    <div class="info">
        <div>
            <div class="container">
                <div class="youplay-login">
                    <div class="youplay-form text-center">
                        <h3>@ViewData["Title"]</h3>
                        <hr/>
                        <p>
                            @Language.GetString("LoginWithRecoveryCodeAlert")
                        </p>
                        <form method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Input.RecoveryCode">@Language.GetString("RecoveryCode")</label>
                                <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off"/>
                                <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-default">Log in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}