﻿@page
@inject LanguageService Language
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = Language.GetString("ResendEmailConfirmation");
}

<section class="youplay-banner banner-top youplay-banner-parallax full">
    <div class="image" data-speed="0.4">
        <img src="~/assets/images/parallax/shaolin2_1920x1200.jpg" alt="" class="jarallax-img">
    </div>
    <div class="info">
        <div>
            <div class="container">
                <div class="youplay-login">
                    <div class="youplay-form text-center">
                        <h4>@ViewData["Title"]</h4>
                        <hr/>
                        <p>@Language.GetString("ResendEmailConfirmationDescription")</p>
                        <form method="post">
                            <div asp-validation-summary="All"></div>
                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control"/>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">@Language.GetString("Resend")</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}