/* PLACE YOUR CUSTOM STYLES IN THIS FILE */

.validation-summary-errors:not(:empty) {
    position: relative;
    border: none;
    border-color: transparent;
    border-radius: 0;
    z-index: 1;
    background: #d92b4c;
    color: #FFF!important;

    padding: 15px;
    margin: 10px 0;
}

.validation-summary-errors ul {
    margin-top: 10px;
    padding-left: 15px;
}

.validation-summary-errors li {
    list-style: none;
    margin-bottom: 10px;
}

.dropup > .dropdown-menu {
    background: rgba(8, 3, 37, 0.8);
    border: none;
}

.dropup > .dropdown-menu ul > li {
    list-style: none;
    margin: 10px 0;
}

.rank-1 {
    margin: 0 auto;
    display: block;
    width: 24px;
    height: 24px;
    background: url('/assets/images/ranking/rank-1.png') no-repeat;
    background-size: contain;
}

.rank-2 {
    margin: 0 auto;
    display: block;
    width: 24px;
    height: 24px;
    background: url('/assets/images/ranking/rank-2.png');
    background-size: contain;
}

.rank-3 {
    margin: 0 auto;
    display: block;
    width: 24px;
    height: 24px;
    background: url('/assets/images/ranking/rank-3.png');
    background-size: contain;
}

.rank-4 {
    margin: 0 auto;
    display: block;
    width: 24px;
    height: 24px;
    background: url('/assets/images/ranking/rank-4.png');
    background-size: contain;
}

.rank-5 {
    margin: 0 auto;
    display: block;
    width: 24px;
    height: 24px;
    background: url('/assets/images/ranking/rank-5.png');
    background-size: contain;
}

.rank-6 {
    margin: 0 auto;
    display: block;
    width: 24px;
    height: 24px;
    background: url('/assets/images/ranking/rank-6.png');
    background-size: contain;
}

.rank-7 {
    margin: 0 auto;
    display: block;
    width: 24px;
    height: 24px;
    background: url('/assets/images/ranking/rank-7.png');
    background-size: contain;
}

.rank-8 {
    margin: 0 auto;
    display: block;
    width: 24px;
    height: 24px;
    background: url('/assets/images/ranking/rank-8.png');
    background-size: contain;
}