﻿@page "{RankType}/{ServerName}/{PageNum=1}"
@using System.Data
@using Comet.Web.Services
@inject LanguageService mLanguage
@model Comet.Web.Areas.Ranking.Pages.IndexModel
@{
    ViewData["Title"] = mLanguage.GetString("RankingS", Model.RankName);
}

@await Html.PartialAsync("../../../Pages/Shared/_ViewTitleContainer")

<div class="container youplay-news">
    <!-- News List -->
    <div class="col-md-9">
        <div class="mb-30">
            <div class="form-group">
                <label class="control-label col-sm-2">@mLanguage.GetString("Server"):</label>
                <div class="col-sm-10">
                    <div class="youplay-select">
                        <select id="GameServer">
                            <option value="All">@mLanguage.GetString("AllServers")</option>
                            @foreach (var server in Model.Servers)
                            {
                                if (server.RealmName.Equals(Model.ServerName, StringComparison.InvariantCultureIgnoreCase))
                                {
                                    <option value="@server.RealmName" selected="selected">@server.RealmName</option>
                                }
                                else
                                {
                                    <option value="@server.RealmName">@server.RealmName</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <td>#</td>
                    @for (int i = 0; i < Model.DataTable.Columns.Count; i++)
                    {
                        <td>@mLanguage.GetString($"{Model.DataTable.Columns[i].ColumnName}")</td>
                    }
                </tr>
                </thead>
                <tbody>
                @{
                    int pos = 1;
                }
                @foreach (DataRow row in Model.DataTable.Rows)
                {
                    <tr>
                        <td>@Html.Raw(Model.GetPositionHtml(pos))</td>
                        @for (int i = 0; i < Model.DataTable.Columns.Count; i++)
                        {
                            if (Model.DataTable.Columns[i].DataType == typeof(ulong))
                            {
                                <td>@($"{ulong.Parse(row[i]?.ToString() ?? "0"):N0}")</td>
                            }
                            else
                            {
                                <td>@row[i].ToString()</td>
                            }
                        }
                    </tr>
                    pos++;
                }
                </tbody>
            </table>
        </div>
        
    </div>
    <!-- /News List -->
    <!-- Right Side -->
    <div class="col-md-3">
        <!-- Side Categories -->
        <div class="side-block">
            <ul class="block-content">
                <li>
                    <a asp-area="Ranking" asp-page="Index" asp-route-ServerName="@Model.ServerName" asp-route-RankType="Players">@mLanguage.GetString("TopPlayers")</a>
                    <a asp-area="Ranking" asp-page="Index" asp-route-ServerName="@Model.ServerName" asp-route-RankType="Trojan">@mLanguage.GetString("TopTrojan")</a>
                    <a asp-area="Ranking" asp-page="Index" asp-route-ServerName="@Model.ServerName" asp-route-RankType="Warrior">@mLanguage.GetString("TopWarrior")</a>
                    <a asp-area="Ranking" asp-page="Index" asp-route-ServerName="@Model.ServerName" asp-route-RankType="Archer">@mLanguage.GetString("TopArcher")</a>
                    <a asp-area="Ranking" asp-page="Index" asp-route-ServerName="@Model.ServerName" asp-route-RankType="WaterTaoist">@mLanguage.GetString("TopWaterTaoist")</a>
                    <a asp-area="Ranking" asp-page="Index" asp-route-ServerName="@Model.ServerName" asp-route-RankType="FireTaoist">@mLanguage.GetString("TopFireTaoist")</a>
                    <a asp-area="Ranking" asp-page="Index" asp-route-ServerName="@Model.ServerName" asp-route-RankType="Moneybag">@mLanguage.GetString("TopMoneybag")</a>
                    <a asp-area="Ranking" asp-page="Index" asp-route-ServerName="@Model.ServerName" asp-route-RankType="Syndicate">@mLanguage.GetString("TopSyndicate")</a>
                    <a asp-area="Ranking" asp-page="Index" asp-route-ServerName="@Model.ServerName" asp-route-RankType="Family">@mLanguage.GetString("TopFamily")</a>
                    <a asp-area="Ranking" asp-page="Index" asp-route-ServerName="@Model.ServerName" asp-route-RankType="GuildWarWinners">@mLanguage.GetString("TopGuildWarWinners")</a>
                    <a asp-area="Ranking" asp-page="Index" asp-route-ServerName="@Model.ServerName" asp-route-RankType="Superman">@mLanguage.GetString("TopSuperman")</a>
                    <a asp-area="Ranking" asp-page="Index" asp-route-ServerName="@Model.ServerName" asp-route-RankType="Noble">@mLanguage.GetString("TopNoble")</a>
                </li>
            </ul>
        </div>
        <!-- /Side Categories -->
    </div>
    <!-- /Right Side -->
</div>

@section Scripts
{
    <script>
        $("#GameServer").on("change",
            function() {
                window.location.href = `/Ranking/@Model.RankType/${this.value}`;
            });
    </script>
}