﻿@page
@inject LanguageService mLanguage
@model Comet.Web.Areas.Profile.Pages.Settings.Disable2faModel
@{
    ViewData["Title"] = mLanguage.GetString("Disable2fa");
}

@await Html.PartialAsync("../../../Pages/Shared/_ViewTitleContainer")

<div class="container youplay-content">
    <h2>@ViewData["Title"]</h2>

    <div class="alert alert-warning" role="alert">
        @Html.Raw(mLanguage.GetString("Disable2faAlert"))
    </div>

    <div>
        <form method="post" class="form-group">
            <button class="btn btn-danger" type="submit">@mLanguage.GetString("Disable2fa")</button>
        </form>
    </div>
</div>