﻿@page
@inject LanguageService mLanguage
@model Comet.Web.Areas.Profile.Pages.Settings.GenerateRecoveryCodesModel
@{
    ViewData["Title"] = mLanguage.GetString("GenerateRecoveryCodes");
}

@await Html.PartialAsync("../../../Pages/Shared/_ViewTitleContainer")

<div class="container youplay-content">
    <h4>@ViewData["Title"]</h4>
    <div class="alert alert-warning" role="alert">
        @Html.Raw(mLanguage.GetString("GenerateRecoveryCodesAlert"))
    </div>
    <div>
        <form method="post" class="form-group">
            <button class="btn btn-danger" type="submit">@mLanguage.GetString("GenerateRecoveryCodes")</button>
        </form>
    </div>
</div>