﻿@page
@inject LanguageService mLanguage
@model Comet.Web.Areas.Profile.Pages.Settings.ResetAuthenticatorModel
@{
    ViewData["Title"] = mLanguage.GetString("ResetAuthenticatorKey");
}


@await Html.PartialAsync("../../../Pages/Shared/_ViewTitleContainer")

<div class="container youplay-content">
    <h4>@ViewData["Title"]</h4>
    <div class="alert alert-warning" role="alert">
        @Html.Raw(mLanguage.GetString("ResetAuthentication2faAlert"))
    </div>
    <div>
        <form id="reset-authenticator-form" method="post" class="form-group">
            <button id="reset-authenticator-button" class="btn btn-danger" type="submit">@mLanguage.GetString("ResetAuthenticatorKey")</button>
        </form>
    </div>
</div>