﻿@page
@inject LanguageService mLanguage
@model Comet.Web.Areas.Profile.Pages.Settings.ShowRecoveryCodesModel
@{
    ViewData["Title"] = mLanguage.GetString("ShowRecoveryCodes");
}

@await Html.PartialAsync("../../../Pages/Shared/_ViewTitleContainer")

<div class="container youplay-content">
    <h4>@ViewData["Title"]</h4>
    <div class="alert alert-warning" role="alert">
        @Html.Raw(mLanguage.GetString("ShowRecoveryCodesAlert"))
    </div>
    <div class="row">
        <div class="col-md-12">
            @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
            {
                <code class="recovery-code">@Model.RecoveryCodes[row]</code>

                <text>&nbsp;</text>

                <code class="recovery-code">@Model.RecoveryCodes[row + 1]</code>

                <br />
            }
        </div>
    </div>
</div>